.wrapper{
    display: flex;
    gap: 12px
}
.cleanButton{
    margin-left: 68px;
}
.input{
    width: 377px
}
.circlesWrapper{
    list-style-type: none;
    display: flex;
    gap: 10px;
    padding-top: 48px
}